apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: installer-host.example.com:8443/redhat/redhat-operator-index:v{{ discovered_openshift_release }}
  displayName: Redhat Operator Catalog
  publisher: OSASINFRA-QE
  updateStrategy:
    registryPoll:
      interval: 30m
