apiVersion: v1
kind: Pod
metadata:
  name: "hello-openshift-{{ item[1] }}"
  labels:
    app: hello-openshift-samenode
  annotations:
    k8s.v1.cni.cncf.io/networks: "{{ item[0] }}"
spec:
  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - hello-openshift-samenode
        topologyKey: 'kubernetes.io/hostname'
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containers:
  - name: hello-openshift
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image: quay.io/openshift/origin-hello-openshift
    ports:
    - containerPort: 8080
