# Default reviewers for all files
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @arxcruz @dlaw4608 @ekuris-redhat @eshulman2 @gryf @imatza-rh @kstrenkova @mandre @stephenfin @tusharjadhav3302 @winiciusallan
