[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
	action = rebase always
[project]
	description = Ansible playbooks and roles for QA automation for OSP18 and up.
[access "refs/*"]
	owner = group shiftstack-qe
	read = group rhosqeauto-contrib
	read = group rhosqeauto-core
	read = group rhosqeauto-stable
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group shiftstack-qe
	label-Verified = -1..+1 group shiftstack-qe
	push = group shiftstack-qe
	read = group shiftstack-qe
	rebase = group shiftstack-qe
	removeReviewer = group shiftstack-qe
	submit = group shiftstack-qe
[access "refs/heads/*"]
	create = group shiftstack-qe
	push = group shiftstack-qe
	pushMerge = group shiftstack-qe
	read = group shiftstack-qe
	label-Verified = -1..+1 group rhosqeauto-contrib
	label-Verified = -1..+1 group rhosqeauto-core
	label-Verified = -1..+1 group rhosqeauto-stable
[access "refs/tags/*"]
	push = group shiftstack-qe
[receive]
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = true
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
