[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ansible playbooks and roles for QA automation for OSP18 and up.
[access "refs/*"]
	owner = group user/rlobillo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rlobillo
	label-Verified = -1..+1 group user/rlobillo
	push = group user/rlobillo
	read = group user/rlobillo
	rebase = group user/rlobillo
	removeReviewer = group user/rlobillo
	submit = group user/rlobillo
[access "refs/heads/*"]
	create = group user/rlobillo
	push = +force group user/rlobillo
	pushMerge = group user/rlobillo
	read = group user/rlobillo
[access "refs/tags/*"]
	push = group user/rlobillo
	push = +force group user/rlobillo
