---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: multiclusterengine-catalog
  namespace: openshift-marketplace
spec:
  displayName: MultiCluster Engine
  publisher: Red Hat
  sourceType: grpc
  image: "quay.io:443/acm-d{{ install_icsp_for_acm_operator_img }}"
  updateStrategy:
    registryPoll:
      interval: 10m