---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ custom_catalog_name }}"
  namespace: openshift-marketplace
spec:
  displayName: Custom MultiCluster Engine Catalog
  publisher: Red Hat
  sourceType: grpc
  image: "{{ tools_install_custom_mce_catalog_img }}"
  updateStrategy:
    registryPoll:
      interval: 10m